@tailwind base;

@layer base {
  html,
  body {
    @apply p-0 m-0;
  }

  * {
    box-sizing: border-box;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --postage-stamp-rotate-angle: 0deg;
  --postage-stamp-translate-y: 0px;
}
